<h1 *ngIf="sprintName">Sprint Name: {{sprintName}}</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Effort</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let workItem of workItems">
      <td>{{workItem.id}}</td>
      <td>{{projectProcessTemplate === 'Agile' ? workItem.fields.storyPoints : workItem.fields.effort}}</td>
      <td>{{workItem.fields.title}}</td>
    </tr>
  </tbody>
  <tfoot>
    <th>Total Effort</th>
    <th>{{totalEffort}}</th>
    <th></th>
  </tfoot>
</table>